{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}САЙТ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/wide-classes.css' %}">
    <script src="{% static 'core/js/bootstrap.bundle.min.js' %}" defer></script>
</head>
<body style="height: 100vh" class="fc">
    {% include 'core/includes/header.html' %}
    <main class="flex-grow-1">
        {% block main %}{% endblock %}
    </main>
    {% include 'core/includes/footer.html' %}
</body>
</html>