{% extends 'core/base.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block main %}
    <h1 class="text-center">Каталог</h1>
    <div class="frc mw-1300px gap-3 mx-auto flex-wrap">
        {% for product in products %}
            <div class="mw-300px rounded-3 p-2  " style="box-shadow: 0 0 10px #0004 ">
                <img class="w-100 rounded-3" src="{{ product.picture.url }}" alt="">
                <div class="fr">
                    <span class="price fs-5 fw-bold">{{ product.price }}$</span>
                    <span class="text-danger fs-7 mb-auto">-{{ product.discount }}%</span>
                </div>
                <h5 class="fw-4 fs-5">{{ product.name }}</h5>
                <div class="frsc gap-1">
                    {% for _ in 'qwert' %}
                        {% if product.rating >= forloop.counter %}
                            <img width="16px" src="{% static 'core/img/star.png' %}" alt="">
                        {% else %}
                            <img width="16px" class="gray-scale" src="{% static 'core/img/star.png' %}" alt="">
                        {% endif %}
                    {% endfor %}
                    <span>{{ product.rating }}</span>
                </div>
                <span class="fs-7 text-secondary">{{ product.description }}</span>
            </div>
        {% endfor %}
    </div>
e
{% endblock %}
